<h3>Recipes!</h3>
<div ng-controller="RecipesController as rcpCtrl">
  <ul ng-repeat="recipe in rcpCtrl.allRecipes">
    <li ng-click="rcpCtrl.showRecipe(recipe)">{{recipe.title}}</li>
  </ul>

  <div ng-show="rcpCtrl.selectedRecipe">
      <h4>{{rcpCtrl.selectedRecipe.title}}</h4>

      <!-- if button is clicked where should it go? -->
      <button type="button" name="favorite" ng-click="rcpCtrl.pushRecipe">Add to Favorites!</button>

    <h5>{{rcpCtrl.selectedRecipe.subtitle}}</h5>
    <img ng-src="{{rcpCtrl.selectedRecipe.image_url}}">
    <p>{{rcpCtrl.selectedRecipe.body}}</p>
  </div>
</div>
