
<h1>This is the profile page</h1>
<!-- this ng-show hides the div if the user is NOT logged in -->
<div>
  <ul>
    <li><strong>Email:</strong> {{profileVm.currentUser.email}}</li>
    <li><strong>Name:</strong> {{profileVm.currentUser.name}}</li>
  </ul>

<a ui-sref="userEdit"><button>Edit</button></a>
</div>

<div>
  Favorites
  <ul ng-repeat="favorites in profileVm.currentUser.favorites">
    <li><strong>{{favorites.title}}</strong>
      <br>
        <i>{{favorites.subtitle}}</i>
      <br>
      <div ng-controller="UsersController as usersCtrl">
       <button ng-click="usersCtrl.deleteRecipe(favorites)">X</button>
     </div>
      <br>
        <img ng-src="{{favorites.image_url}}">
    </li>

  </ul>
</div>
